body{
    margin: 0;
    background-color: black;
    color: cyan;
    font-family: sans-serif;
}
.container{
    border: 2px solid cyan;
    height: 400px;
    width: 600px;
    justify-content: center;
    margin:80px 350px;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: large;
}
.container h1{
    color:white;
}
nav div .logo{
    color: black;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: cyan;
    height: 60px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-left: 600px;
}
nav ul a{
    color: black;
    margin-right: 30px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    position: relative;   
}
.navbar div{
    font-size: larger;
    font-weight: bold;
    color: white;
    padding-left: 20px;
}
.resume-download{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    background-color: cyan;
}
.resume-download a{
    text-decoration: none;
    color: black;
}
nav ul a:hover{
    color: white;
    scale: 1.3;
}
nav button:hover{
    background: white;
}